#about{
    background: url(../images/about_back-sp.png) no-repeat top center;
    background-size: cover;
    margin-bottom:322px;
    position: relative;
    height: 585px;
    &::after{
        content: ' ';
        display: block;
        width: 100%;
        height: 30px;
        background:url(../images/design_nami.png) no-repeat top center;
        position: absolute;
        top:-1px;
    }
    &__row{
        padding-top: 380px;
    }
    &__col{
        background: #fff;
        border-radius: 5px;
        margin: 0 auto;
        width: calc(100% - #{$gatter} * 2);
        box-shadow: 0 0 5px #ccc;
        padding: 50px 15px 30px;
        border-radius: 15px;
    }
    &__h2{
        width: 252px;
        margin: 0 auto 30px;
    }
    p{
        line-height: $lh;
        font-size: $font-size;
        color: #000;
    }
}

@media screen and (min-width: 768px) {

    #about {
        display: flex;
        height: 100vh;
        align-items: center;
        margin-bottom: 0;
        &__row {
            padding-top: 0;
        }
        &__col {
            width: 66.6666%;
            margin: 0 auto;
            padding: 40px;
        }
        &__h2{
            width: 300px;
        }
    }

}

@media screen and (min-width: 992px) {

    #about {
        &__col {
            width: 50%;
        }
    }

}

@media screen and (min-width: 1280px) {

    #about {
        background: url(../images/about_back.png) no-repeat top center;
        background-size: cover;
        &__col {
            width: 41.6666%;
            margin-left: auto;
            margin-right: 8.3333%;
            p {
                font-size: $font-size-pc;
                width: 80%;
                margin: 0 auto;
            }
        }
        &::after{
            height: 32px;
            background-size: cover;
        }
        &__h2{
            width: 392px;
        }
    }

}

@media screen and (min-width: 1920px) {

    #about {
        &__col {
            width: 33.3333%;
            max-width: 685px;
            padding: 50px 75px;
            border-radius: 30px;
            p {
                margin: 0;
                width: 100%;
            }
        }
        &::after{
            height: 42px;
        }
        &__h2{
            margin-bottom: 38px;
        }
    }

}