
.container{
  max-width:1170px;
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin:0 auto;
  font-family:serif;
  text-align:center;
}

.top-wrapper{
  background-image: url(#);
  background-size: cover;
  height:100%;
  /* color:#808080; */
  color:rgba(0,64,128,1.0);
  opacity:0.7;
/*  position:relative; */
}

.sub {
  padding-bottom:50px;
  text-align:right;
}

.top-wrapper h1{
  padding-top:20px;
  padding-right:-10px;
  font-size:120px;
  font-family:serif;
  text-align:right;
 /* background-color:rgba(192,192,192,0.5); */
}

.top-wrapper p{
  font-size:50px;
  background-color:rgba(255,255,255,0.5);
  font-family:serif;
  text-align:left;
} 

.contents-wrapper{
  background-color: #f7f7f7;
  padding:80px 0;
  text-align: center;
  font-family:serif;
}

.contents-wrapper h1{
  text-align:center;
  font-size:60px;
}

.mvv-wrapper{
  padding:80px 0;
  overflow:hidden;
  font-family:serif;
  flex-wrap:wrap; 
  text-align:center;
}

.mvv-wrapper h1{
  text-align:center;
  font-size:60px;
}


th{
  width:50%;
  height:50%;
}


.activity-wrapper{
  padding:80px 0;
  overflow:hidden;
  font-family:serif;
  flex-wrap:wrap; 
  text-align:center;
}

.activity-wrapper h1{
  text-align:center;
  font-size:60px;
}

.activity-wrapper h2{
  text-align:center;
  font-size:40px;
}





.profile-wrapper{
  padding:80px 0;
  overflow:hidden;
  font-family:serif;
  flex-wrap:wrap; 
  text-align:center;
}

.profile-wrapper h1{
  text-align:center;
  font-size:60px;
}



.profile{
   width:100%;
 /* flex:auto; */
  text-align:center;
  margin:80px 0;
}


.contact-wrapper{
  text-align: center;
  padding: 80px 0;
  background-color: #f7f7f7;
  font-family:serif;
}


.btn{
  padding:8px 24px;
  dispaly:inline-block;
  opacity:0.8;
  border-radius:4px;
/*  box-shadow:0px 2px #000000;*/
}

.btn:hover{
  opacity:1;
}

.btn:active{
  box-shadow:none;
  position:relative;
  top:2px;
}

.twitter{
/*  border:2px solid #55acee;*/
  margin:0 10px;  
}

.instagram{
/*  border:2px solid #2e6ca5;*/
  margin:0 10px;
}

.note{
/*  border:2px solid #239b76;*/
  dispaly:inline-block;
  opacity:0.8;
/*  border-radius:4px;
  box-shadow:0px 2px #000000;*/
}

.note:hover{
  opacity:1;
}

/*.note:active{
  box-shadow:none;
  position:relative;
  top:2px;*/
}


.btn-wrapper{
  margin: 30px 0;
}

.fa{
  margin-right:5px;
}


.surport-wrapper{
  text-align:center;
  font-family:serif;
}

.surport-wrapper h1{
  font-size:60px;
  padding:20px;
}

li{
  list-style:none;
  margin:60px;
}


.cf{
  width:150px;
  height:128.90625px;
  float:right;
}

.cffont{
  padding-right:15px;
  padding-left:15px;
  margin:0 auto;
  font-family:serif;
  text-align:left;
  color:rgba(0,64,128,1.0);
}


/*iPadの場合*/
@media(max-width:1000px){
  .container{
    width:100%;
    margin:0 auto;
    max-width:950px;
    text-align:center;
    
}
  
  .top-wrapper{
    width:100%;
   /* background-image:url(https://raw.githubusercontent.com/yushirohishida/kanazawa-syukatsucircle_CareerFirst/master/IMG_0387.JPG); */
    position:relative;
  }
  
  .top-wrapper h1{
    padding-top:70px;
    padding-bottom:550px;
    text-align:right;
    font-family:serif;
  }
  
/*  .top-wrapper p{
    position:absolute;
    bottom:50px;
    text-align:center;
    font-family:serif;
  } */
  
  
  .profile{
    width:100%;
    text-align:center;
  }
  
}





/*スマホの場合*/
@media(max-width:670px){
  .container{
    width:100%;
    margin:0 auto;
    max-width:950px;
    text-align:center;
    
}
  
  .top-wrapper{
    width:100%;
   
  
  .top-wrapper h1{
    padding-top:70px;
    padding-bottom:550px;
  }
  
  .profile{
    width:100%;
    text-align:center;
  }
  
}

